.pkg-wrapper {
  position: fixed;
  left: 50%;
  opacity: 0.5;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-weight: bold;
  background-color: yellow;
  padding: 10px 8px;
  border-radius: 2px;
  pointer-events: none;
}
